# Generate JWT secret with: openssl rand -base64 32
JWT_SECRET_KEY=

# Database (prod only)
DB_URL=jdbc:postgresql://localhost:5432/ecombend
DB_USERNAME=
DB_PASSWORD=

# Gmail SMTP
MY_EMAIL=
API_KEY=

# Cloudinary
API_CLOUDNAME=
CLOUDINARY_KEY=
API_SECRET=

# App base URL (prod only)
APP_BASE_URL=https://yourdomain.com
